<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--导入mysql配置信息-->
    <properties resource="mybatis-properties.properties"></properties>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.weimo.fighting.model.Student" alias="student"></typeAlias>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"></property>
                <property name="url" value="${url}"></property>
                <property name="username" value="${username}"></property>
                <property name="password" value="${password}"></property>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/weimo/fighting/mapper/StudentMapper.xml"/>
        <mapper resource="com/weimo/fighting/one2one/mapper/EmployeeMapper.xml"/>
        <mapper resource="com/weimo/fighting/one2one/mapper/EmployeeSchoolMapper.xml"/>
        <mapper class="com.weimo.fighting.dynamic.Mapper.StudentMapper"/>
        <mapper class="com.weimo.fighting.shop.mapper.JokeMapper"/>
        <mapper class="com.weimo.fighting.shop.mapper.UserMapper"/>
        <mapper class="com.weimo.fighting.shop.mapper.ImageUploadMapper"/>
        <mapper class="com.weimo.fighting.shop.mapper.BusinessCardMapper"/>
    </mappers>

</configuration>